.alert {
  display: flex;
  padding: 0.5rem 1rem 0.5rem 2rem;
  gap: 1rem;
  align-items: center;
  border-radius: 0.75rem;
  transition: 200ms cubic-bezier(0.2, 0, 0, 1);
}

.alert--type-error {
  background: var(--error-container);
  color: var(--error);
}

.alert--type-warning {
  background: var(--primary-container);
  color: var(--on-primary);
}

.alert:hover {
  box-shadow: var(--elevation--3);
}

.alert__action {
  opacity: 0;
  transition: 200ms cubic-bezier(0.2, 0, 0, 1);
}

.alert:hover .alert__action {
  opacity: 1;
}
