.chips {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.chip {
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  color: var(--on-surface-variant);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: 200ms cubic-bezier(0.2, 0, 0, 1);
  cursor: default;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px var(--outline) inset;
}

.chip:hover {
  background-color: hsla(264deg, 8%, 12%, 0.08);
}

.chip:focus {
  background-color: hsla(264deg, 8%, 12%, 0.12);
  box-shadow:
    0 0 0 1px var(--outline) inset,
    var(--elevation--2);
}

.chip--icon {
  cursor: pointer;
  padding-right: 0.5rem;
}
