body {
  background-image: url(../assets/img/background-pattern.png);
  background-position: bottom left;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 50%;
}
