@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/poppins/Poppins-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/poppins/Poppins-Medium.ttf) format('woff2');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/urbanist/Urbanist-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/urbanist//Urbanist-Medium.ttf) format('woff2');
}

:root {
  --primary: #fbbc42;
  --on-primary: #422c00;
  --primary-container: #ffdeaa;
  --on-primary-container: #271900;
  --primary-fixed: #ffdeaa;
  --on-primary-fixed: #271900;
  --primary-fixed-dim: #fbbc42;
  --on-primary-fixed-variant: #5f4100;
  --secondary: #6d5c3f;
  --on-secondary: #ffffff;
  --secondary-container: #f8dfbb;
  --on-secondary-container: #261904;
  --secondary-fixed: #f8dfbb;
  --on-secondary-fixed: #261904;
  --secondary-fixed-dim: #dbc3a1;
  --on-secondary-fixed-variant: #54442a;
  --tertiary: #4e6543;
  --on-tertiary: #ffffff;
  --tertiary-container: #d0ebc0;
  --on-tertiary-container: #0c2006;
  --tertiary-fixed: #d0ebc0;
  --on-tertiary-fixed: #0c2006;
  --on-tertiary-fixed-dim: #b4cea5;
  --on-tertiary-fixed-variant: #364d2d;
  --error: #ba1a1a;
  --on-error: #ffffff;
  --error-container: #ffdad6;
  --on-error-container: #410002;
  --outline: #807667;
  --background: #fffbff;
  --on-background: #1f1b16;
  --surface: #fff8f3;
  --on-surface: #422c00;
  --surface-variant: #eee0cf;
  --on-surface-variant: #4e4539;
  --inverse-surface: #34302a;
  --inverse-on-surface: #f8efe7;
  --inverse-primary: #fbbc42;
  --shadow: #000000;
  --surface-tint: #7d5700;
  --outline-variant: #d2c5b4;
  --scrim: #000000;
  --surface-container-highest: #eae1d9;
  --surface-container-high: #efe7de;
  --surface-container: #f5ece4;
  --surface-container-low: #fbf2e9;
  --surface-container-lowest: #ffffff;
  --surface-bright: #fff8f3;
  --surface-dim: #e1d9d0;

  --text-brand: 'Urbanist', sans-serif;
  --text-plain: 'Poppins', sans-serif;

  --elevation--1:
    0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation--2:
    0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation--3:
    0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --elevation--4:
    0 6px 10px 4px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  --elevation--5:
    0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--surface);
  color: var(--on-surface);

  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overscroll-behavior-y: contain;
}

input {
  all: unset;
}

.text--display-large,
.text--display-medium,
.text--display-small,
.text--headline-large,
.text--headline-medium,
.text--headline-small {
  font-family: var(--text-brand);
  font-weight: 500;
}

.text--display-large {
  font-size: 3.5625rem;
  line-height: 4rem;
}

.text--display-medium {
  font-size: 2.8125rem;
  line-height: 3.25rem;
}

.text--display-small {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.text--headline-large {
  font-size: 2rem;
  line-height: 2.5rem;
}

.text--headline-medium {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.text--headline-small {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text--title-large,
.text--title-medium,
.text--title-small,
.text--label-large,
.text--label-medium,
.text--label-small {
  font-family: var(--text-plain);
  font-weight: 500;
}

.text--title-large {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.text--title-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.009375rem;
}

.text--title-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.00625rem;
}

.text--label-large {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text--label-medium {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text--label-small {
  font-size: 0.6875rem;
  line-height: 1rem;
}

.text--body-large,
.text--body-medium,
.text--body-small {
  font-family: var(--text-plain);
  font-weight: 400;
}

.text--body-large {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text--body-medium {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text--body-small {
  font-size: 0.75rem;
  line-height: 1rem;
}
