.text-field__wrapper {
  width: 100%;
  position: relative;
}

.text-field {
  all: unset;
  position: relative;
  display: inline-flex;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--outline);
  box-sizing: border-box;
}

.text-field__legend {
  margin-left: 0.75rem;
}

.text-field__label {
  padding: 0 0.25rem;
  color: var(--on-surface-variant);
}

.text-field__input {
  color: var(--on-surface);
  padding: 1rem;
  width: 100%;
  margin-top: -0.75rem;
}

.text-field__input::placeholder {
  color: currentColor;
}

.text-field--focused,
.text-field--focused .text-field__label {
  color: var(--primary);
  border-color: var(--primary);
}

.text-field--focused {
  border-width: 2px;
  margin: -1px;
}

.text-field__supporting {
  color: var(--on-surface-variant);
  padding: 0.25rem 1rem 0 1rem;
}

.text-field__supporting--invalid,
.text-field__trailing-icon--invalid {
  color: var(--error) !important;
}

.text-field--invalid,
.text-field--invalid .text-field__label {
  color: var(--error);
  border-color: var(--error);
}

.text-field--invalid {
  border-width: 2px;
  margin: initial !important;
}

.text-field__trailing-icon {
  position: absolute;
  top: 1rem;
  right: 0.25rem;
}

.text-field--with-trailing-icon .text-field__input {
  padding-right: 3rem;
}
